/* NOTE: colors */
$indigo-700: #4338ca;
$neutral-900: #171717;
$neutral-600: #525252;
$linear-gradient: linear-gradient(to bottom, #f9fafb, #d2d6db);

$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";
