%text-base {
  font-size: 1.6rem;
  line-height: 1.5;
}

%text-lg {
  font-size: 1.8rem;
  line-height: 1.55;
}

%text-xl {
  font-size: 2rem;
  line-height: 1.4;
}

%text-3xl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
}

%text-5xl {
  font-size: 4.8rem;
  line-height: 1;
  font-weight: 500;
}
